	body {
		text-align: center;
		margin: 0px;
		font-family: 'Raleway', sans-serif;
	}

	.nav {
		background: #3a3633;
		top: 0px;
		position: fixed;
		height: 4rem;
		width: 100%;
		z-index: 5;
	}

	.white {
		background: #ffffff;	
		height: 36.6rem;
		width: 100%;
	}

	.logo {
		position: center;
		width: 13rem;
		height: auto;
		z-index: 1;
	}

	.header-img {
		margin-top: 3rem;
		left: 0;
		max-width: 100%;
 		height: auto;
    	position: absolute;
	}

	.info {
		position: absolute;
		top: 2rem;
		right: 2.5rem;
		max-width:35%;
	}

	.about {
		right: 5rem;
		position: absolute;
		width: 35rem;
		top: 20rem;
		z-index: 1;
	}

	.portfolio {
		position: absolute;
		top: 36.6rem;
		left: 0;
	}