	body {
		text-align: center;
		background: url("imgs/footer_lodyas.png");
		color: white;
		margin: 0px;
		font-family: 'Raleway', sans-serif;
	}

	.search-panel{
		background: #ffffff;
		margin: 250px;
		padding: 50px;
		color: black;
	}
	#footer {
		color: white;
		font-size: 10px;
		position: absolute;
		left: 630px;
		bottom: 10px;
	}

	h1, h2, h3{
		font-family: Raleway;
	}

	.search-input, .search-button{
		font-size: 20px;
		padding: 5px;
		margin: 10px;
		border-radius: 5px;
	}